.chart-container3 {
    width: 100%; /* Set your desired width */
    height: 750px; /* Set your desired height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.chart-container5 {
    width: 100%; /* Set your desired width */
    height: 950px; /* Set your desired height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.chart-container8 {
    width: 100%; /* Set your desired width */
    height: 1450px; /* Set your desired height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.chart-containerf {
    width: 100%; /* Set your desired width */
    height: 11400px; /* Set your desired height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.chart-containerp {
    width: 100%; /* Set your desired width */
    height: 700px; /* Set your desired height */
    overflow-x: auto;
    overflow-y: auto; /* Enable vertical scrolling */
}

.chart-containerb {
    width: 100%; /* Set your desired width */
    height: 900px; /* Set your desired height */
    overflow-x: auto;
    overflow-y: auto; /* Enable vertical scrolling */
}

.ta9 {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: black;
}