body {
    font-family: 'Noto Sans', sans-serif;
    background-color: snow;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.1em 0.1em 0;
    width: 20%;
    margin: auto;
}

summary {
    font-weight: bold;
    margin: -0.1em -0.1em 0;
    padding: 0.5em;
}

details[open] {
    padding: 0.1em;
    width: 100%;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}


.qualswiss {
    border-collapse: collapse;
    vertical-align: middle;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    width: 100%;
    margin: 20px 0;
}

.qualswiss td {
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    vertical-align: middle;
    padding: 5px;
}

.qualswiss th {
    font-weight: normal;
    font-size: 12px;
    padding: 5px;
    text-align: left;
    background-color: paleturquoise;
}

.qualswiss tr:hover {
    background-color: #f1f1f1;
}

.qualifier {
    font-weight: bold;
}

.winner {
    background-color: palegreen;
}

.invited {
    background-color: lightsalmon;
}

.bwinner {
    background-color: lightsteelblue;
}

.jwinner {
    background-color: lightyellow;
}

.loser {
    background-color: palegoldenrod;
}

.qualified {
    background-color: lightgrey;
}

.qualwinner {
    text-decoration: black underline;
}

.center-align {
    text-align: center;
}

.right-align {
    text-align: right;
}

.qualhead {
    text-decoration: none;
    color: black;
    font-size: 0.9em;
}

.h1 {
    text-align: center;
    font-size: 17px;
}

.h2 {
    text-align: center;
    font-size: 16px;
}

.h3 {
    text-align: center;
    font-size: 15px;
}

.t-round {
    text-align: center;
    border: 1px;
    background-color: lightcyan;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.t-header {
    text-align: center;
    font-weight: bold;
}

.t-bracket {
    display: grid;
    gap: 2px;
    box-sizing: border-box;
}

.single8 {
    grid-template-columns: repeat(3, 1fr);
}

.single16 {
    grid-template-columns: repeat(4, 1fr);
}

.double8 {
    grid-template-columns: repeat(5, 1fr);
}

.double16 {
    grid-template-columns: repeat(7, 1fr);
}

hr {
    border: none; /* Remove the default border */
    height: 2px; /* Set the height of the line */
    background-color: #333; /* Set the color of the line */
    margin: 20px 0; /* Add some vertical spacing around the line */
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}
