.chart-container3 {
    width: 100%; /* Set your desired width */
    height: 500px; /* Set your desired height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.chart-container5 {
    width: 100%; /* Set your desired width */
    height: 850px; /* Set your desired height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.chart-container8 {
    width: 100%; /* Set your desired width */
    height: 1500px; /* Set your desired height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.chart-containerf {
    width: 100%; /* Set your desired width */
    height: 11400px; /* Set your desired height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.chart-containerp {
    width: 100%; /* Set your desired width */
    height: 700px; /* Set your desired height */
    overflow-x: auto;
    overflow-y: auto; /* Enable vertical scrolling */
}

.chart-containerb {
    width: 100%; /* Set your desired width */
    height: 800px; /* Set your desired height */
    overflow-x: auto;
    overflow-y: auto; /* Enable vertical scrolling */
}

.bb{
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: rgba(0, 102, 255, 0.9);
    background-color: rgba(0, 102, 255, 0.01);
}